<%- include('header'); -%>
    <%- include('testUser'); -%>
        <h1>Liste de tous les clients de la base de données</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>
                        Identifiant
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        description
                    </th>
                    <th>
                        Date d'ajout
                    </th>
                    <th>
                        Date de modification
                    </th>

                </tr>
            </thead>
            <tbody>
                <% for (userinfo of userinfo){%>
                    <tr>
                        <td>
                            <%= userinfo.cli_id %>
                        </td>
                        <td>
                            <%= userinfo.cli_name %>
                        </td>
                        <td>
                            <%= userinfo.cli_description%>
                        </td>
                        <td>
                            <%= userinfo.cli_creation %>
                        </td>
                        <td>
                            <%= userinfo.cli_update %>
                        </td>

                    </tr>
                    <%}%>
            </tbody>
        </table>
        </body>

        </html>